---
import Layout from "../layouts/Layout.astro";
import "@/global.css";
---

<Layout title="Noureddine DRIOUECH">
  <main class="container mx-auto text-center dark:bg-black">
    <slot />
  </main>
</Layout>
