---
import Layout from "../layouts/Layout.astro";
import "@/global.css";
import Profile from "./Profile.astro";
---

<Layout title="Noureddine DRIOUECH">
  <main class="container p-10 mx-auto text-center">
    <Profile />
  </main>
</Layout>
