---
import Layout from "../layouts/Layout.astro";
import { HeroSection } from "../components/home_sections/HeroSection";
import { ProjectSection } from "../components/home_sections/ProjectSection";
import { AboutSection } from "../components/home_sections/AboutSection";
import { ContactSection } from "../components/home_sections/Contactsection";
import { FooterSection } from "../components/home_sections/FooterSection";
---

<Layout>
  <main class="px-5 md:px-10">
    <HeroSection client:load />
    <ProjectSection client:visible />
    <AboutSection client:visible />
    <ContactSection client:visible />
    <FooterSection client:visible />
  </main>
</Layout>
<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
  }
</style>
